/* Author(s): <name(s)> */
table {
  border-collapse: collapse;
  overflow-y: auto;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

input[type="text"] {
  padding: 4px;
  margin-bottom: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#questionForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

#questionForm input,
#questionForm textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

#questionForm textarea {
  resize: vertical; /* Allow vertical resizing only */
  height: 100px;
}

select {
  width: 400px;
}

#questionForm input:focus,
#questionForm textarea:focus,
#questionForm select:focus {
  border-color: #007bff;
  outline: none;
}

#questionForm button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

#questionForm button:hover {
  background-color: #0056b3;
}

#question {
  padding: 50px;
  text-align: center;
}

.action-button-container {
  display: flex; 
  gap: 10px; 
}


.action-button-container button {
  padding: 8px 12px; 
  border: none;
  border-radius: 4px;
  background-color: #555555;
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.edit-question:hover {
  background-color: #008CBA;
}

.delete-question:hover {
  background-color: #f44336;
}

#complexity::first-letter {
  text-transform: capitalize;
}