#contentEditorContainer {
  background: #767676;
  border: 2px solid var(--sds-color-border-default-default);
  mix-blend-mode: plus-darker;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* padding: 0.5em; */
}

#contentArea {
  width: 100%;
  height: 353px;
  flex-shrink: 0;
  padding: 0%;
  /* margin-bottom: 20px; */
  /* border: 2px solid var(--sds-color-border-default-default); */
  opacity: var(--sds-size-stroke-border);
  background: #767676;
  mix-blend-mode: plus-darker;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  font-size: 16px;
  color: white;
  resize: none;
}

#contentArea::placeholder {
  color: white;
}

#contentArea:focus-visible {
  outline: none;
}