#FindingMatchController {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height to vertically center content */
}

#FindingMatchController h1:first-of-type {
  min-height: 4vh; /* Adjust this height based on the expected text height */
  text-align: center; /* Center the text */
}

#FindingMatchController button {
  border: none;
  background: #2d2d2d;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
